body{
    align-content: center;
}
#loginbox {
    margin-top:50px;
    width: 200px;
    height: 200px;
    border-radius: 10%;
    margin: 10px;
    padding: 10px;
    background:lightgreen;
    text-align: center;
}
#content {
    text-align: center;
}
#lb1,#lb2{
    color: red;
    margin: 10px,10px,10px,10px;
}
#user,#password{    
    margin-bottom: 10px;
}
#google{
    margin-top: 10px;
}