<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=chrome">
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
    <title>Login</title>
</head>
<body>
    <center>
    <div id="loginbox">
        <div id="content">
        <form id="loginform" method="POST" action="/login/auth">
            <label id="lb1">Username</label>
            <input type="text" name="user">
            <label id="lb2">Password</label>
            <input type="password" name="password">
            <input type="submit" value="Login" id="loginBut">
        </form>
    <form action="/login/google" method="POST">
        <input type="submit" value="Sign In with Google" id="google">
    </form>
    <form action="/register" method="POST">
        <input type="submit" value="Register" id="google">
    </form>
    </div>
</center>
</body>
</html>