<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=chrome">
    <title>Order Confirmation</title>
</head>
<body>
    {{email}}
    {{name}}
    <table border="1">
        <tr>
            <th>Item</th>
            <th>Quantity</th>
        </tr>
    {%for i in order%}
     <tr>
         <td>{{i}}</td>
         <td>{{order[i]}}</td>
     </tr> 
     {%endfor%}  
    </table>
</body>
</html>