<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=chrome">
    <title>Payment</title>
</head>
<body>
    <form action="/pay" method="POST">
        <input type="hidden" value="{{email}}" name="email">
        <input type="hidden" value="{{order}}" name="ord">
        <input type="hidden" value="{{name}}" name="name">
        Card Number: <input type="text" name="ccnum"><br>
        Name On Card: <input type="text" name="ccname"><br>
        CVV: <input type="password" name="cccvv"><br>
        Expiry: <input type="month" name="exp"><br>
        <input type="submit" value="Make Payment">
    </form>
</body>
</html>