<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Previous Orders</title>
    <style>
    #customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style></style>
  </head>
  <body>
    <table border="1" id="customers">
      <tr>
        <th>Date</th>
        <th>Restaurant</th>
        <th>Order Items</th>
      </tr>
      {%for d in data%}
      <tr>
        <td>{{ d[2] }}</td>
        <td>{{ d[0] }}</td>
        <td>
          {%for item in d[1]%}
          {{ item }} : {{ d[1][item] }}<br>
          {%endfor%}
        </td>
      </tr>
      {%endfor%}
    </table>
    <a href="/home">Back To Home</a>
  </body>
</html>
